$btn-secondary: lightgray;
$btn-primary: blue;
$btn-success: green;
$btn-worning: red;
$btn-info: lightblue;
$btn-danger: orange;

$btn-fg-color: white;
$btn-bg-color: black;
$btn-bg-gold: black;

$btn-lg-fontSize: 20px;
$btn-md-fontSize: 18px;
$btn-sm-fontSize: 12px;

$cornerRaduse: 5px 20px;

$stdPadding: 5px 10px;
